* {
  box-sizing: border-box;
}
.main-page-wrapper {
  /* background-color: red; */
  height: 100vh;
}
.header {
  /* border: 3px solid black; */
  padding: 8px 32px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5ee;
}
.header .logo {
    color: #5d6160;
    font-size: 24px;
}
.menu {
  /* border: 3px solid blue; */
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.social-media {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.social-media img {
  /* border: 3px solid green; */
  height: 16px;
  width: 16px;
}
.navigation { 
  /* border: 3px solid brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}
/* .navigation :first-child {  */
    /* color: lightblue; */
/* } */
.navigation li {
  /* border: 3px solid pink; */
  color: #7e7e7e;
  cursor: pointer;
  
}
.navigation li.--active {
    color: lightblue;

}
.landing img{
  height: 500px;
  width: 100%;
}
.info-section{
  padding: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 256px;
  justify-content: space-evenly;
}
.left-info{
  display: flex;
  flex-direction: row;
  gap: 0px 32px;
  width: 50.333%;
}
.left-info .title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
  }
  .right-info{
    display: flex;
    width: 50.33%;
  }
.line{
  background-color: black;
  height: 2px;
  width: 64px;
}
.center-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 32px
  ;
}
.first-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid wheat;
}
.first-section img{
  height: 50px;
  width: 50px;
}
.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid wheat;

}
.second-section img{
  height: 50px;
  width: 50px;
}
.third-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 2px solid wheat; */
}

.third-section img{
  height: 50px;
  width: 50px;
}
.fourth-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.fourth-section img{
  height: 50px;
  width: 50px;
}
#dsc-icon{
  color: #7e7e7e;
}
.footer-page-wrapper{
  background-color: #d1f8ee;
  display: flex;
  flex-direction: column;
}
.footer-page-wrapper h5{
  text-align: center;
  padding: 64px 0px 32px 0px;
}
.service-page-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left-service-info{
  width: 300px;
  height: 300px;
  background-color: white;
}
.center-service-info{
  width: 300px;
  height: 300px;
  background-color: white;
}
.right-service-info{
  width: 300px;
  height: 300px;
  background-color: white;
}
.footer-page-wrapper img{
  width: 100px;
  height: 100px;
}
