* {
  box-sizing: border-box;
}
.main-page-wrapper {
  height: 100vh;
}
.header {
  padding: 8px 32px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5ee;
}
.header .logo {
    color: #5d6160;
    font-size: 24px;
}
.menu {
  /* border: 3px solid blue; */
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.social-media {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.social-media img {
  /* border: 3px solid green; */
  height: 16px;
  width: 16px;
}
.navigation { 
  /* border: 3px solid brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}
/* .navigation :first-child {  */
    /* color: lightblue; */
/* } */
.navigation li {
  /* border: 3px solid pink; */
  color: #7e7e7e;
  cursor: pointer;
  
}
.navigation li.--active {
    color: lightblue;

}
.landing img{
  height: 500px;
  width: 100%;
}
.info-section{
  padding: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 48px;
  height: 256px;
  justify-content: space-evenly;
}
.left-info{
  display: flex;
  flex-direction: row;
  gap: 0px 32px;
  width: 50%;
  
}
.left-info .title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  font-size: 16px;
  width: 30%;
  }
  .left-info .title .line{
    background-color: black;
    height: 2px;
    margin-top: 4px;
    width: 64px;
  }
  .left-info .title p{
    font-weight: bold;
  }
  .left-info .dsc{
    width: 70%;
    color: #6c6a6a;
    line-height: 1.6;
  }
  .left-info .dsc span{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black;
    margin-top: 16px;
    font-weight: bold;
    gap: 8px;
  }
  .left-info .dsc span img{
    transform: rotate(90deg);
    height: 32px;
  }

  .right-info{
    display: flex;
    width: 50%;
    color: #7e7e7e;
    line-height: 1.6;
  }
 
.offers-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 32px;
  gap: 16px;
}
.offer-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:25%;
  gap: 8px 0px;
  border-right: 2px solid #efefef;
}
.offers-section :last-child{
  border: none;
}
.offer-item img{
width: 48px;
height: 48px;
}
#dsc-icon{
  color: #7e7e7e;
}
.services-section{
  background-color: #f5f9f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;
  gap: 32px;


}
.services-section p{}
.services-section .quote{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.services-section .quote img{
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}
.services-section .quote p{
  line-height: 1.6;
  
}
.services-section .quote p span{
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.services-desc-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
  gap: 16px;
}
.services-desc-section .services-desc-item{
  width: 33.33%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  padding: 64px;
}
.services-desc-section .services-desc-item img{
width: 48px;
height: 48px;

}
.services-desc-section .services-desc-item span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  
}
.services-desc-section .services-desc-item p{
  line-height: 1.6;
  color: #7e7e7e;
  text-align: center;
}
.services-desc-section .services-desc-item span img{
  transform: rotate(90deg);
  height: 32px;
}
.services-desc-section .services-desc-item .services-title{
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.services-desc-section .services-desc-item p span{
  color: black;
  text-align: center;
}
